<p id="notice"><%= notice %></p>

<h1>Plates</h1>

<%= link_to 'New Plate', new_plate_path %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Prepare time</th>
      <th>Ingredients</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |plate| %>
    <tr>
      <td><%= plate.description %></td>
      <td><%= plate.price %></td>
      <td><%= plate.prepare_time %> min</td>
      <td>
        <% plate.ingredients.each do | ingredient | %>
        <p>- <%= ingredient.description %></p>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to 'Show', plate %>
        <%= link_to 'Edit', edit_plate_path(plate) %>
        <%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>