<p id="notice"><%= notice %></p>

<h1><%= @plate.description %></h1>

<p>
  <strong>Price:</strong>
  <%= @plate.price %>$
</p>

<p>
  <strong>Prepare time:</strong>
  <%= @plate.prepare_time %> minutes
</p>

<div>
  <strong>Ingredients:</strong>
  <ul>
    <% @plate.ingredients.each do | ingredient | %>
      <li><%= ingredient.description %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_plate_path(@plate) %>