<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @plate.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plate.price %>
</p>

<p>
  <strong>Prepare time:</strong>
  <%= @plate.prepare_time %>
</p>

<%= link_to 'Edit', edit_plate_path(@plate) %>