<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<%= link_to 'New Ingredient', new_ingredient_path %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.description %></td>
      <td class="actions">
        <%= link_to 'Edit', edit_ingredient_path(ingredient) %>
        <%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
