<section id="restaurant">
  <h1><%= @restaurant.name %></h1>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @restaurant.phone %>
  </p>
</section>

<section id="plates">
  <h2>Menu</h2>

  <% @plates.each_with_index do | plate, index | %>
  <hr>
  <div class="plates-item">
    <h3 class="strong">
      #<%= index + 1 %> <%= plate.description %>
    </h3>
    <p>
      <span class="strong">Prepare time:</span>
      <%= plate.prepare_time %> minutes
    </p>
    <p>
      <span class="strong">Price:</span>
      <%= plate.price %>$
    </p>

    <h4>Ingredients:</h4>
    <span>
    <% plate.ingredients.each do | ingredient | %>
      <%= ingredient.description %>,
    <% end %>
    </span>
  </div>
  <% end %>
</section>